[user]
	name = GaboGon25
	email = gabrieltablet969@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = \"C:\\Users\\Dell\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
